.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
kitchen.local.yml
id_rsa

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

# Ignore node folder
nodes/*

# Exception default.json
!nodes/default.json
